@using LaCafeteria.Utilidades;
@using LaCafeteria.Models
@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - La Cafeteria</title>
	<link runat="server" rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
	<link runat="server" rel="icon" href="~/favicon.ico" type="image/ico" />

	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
	<link rel="stylesheet" href="~/css/Layout.css"/>
</head>
<body class="body-content">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a asp-page="/Index"><img class="img_Nav_bar" src="~/images/TCP.png" /></a>

			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<li class="collapse navbar-collapse" id="navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-page="/Index">Página principal</a></li>
                    <li><a asp-page="/Buscar">Buscar artículos</a></li>
                    @if (Context.Request.Cookies["usernamePK"] != null)
                    {
                        <li class="dropdown" role="presentation">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Crear artículo <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu navbar-dropdown">
                                <li><a style="color:darkslategrey;" asp-page="/EscribirArticulo">Escribir artículo</a></li>
                                <li><a style="color:darkslategrey;" asp-page="/SubirArticulo">Subir artículo</a></li>
                                <li><a style="color:darkslategrey;" asp-page="/EnlazarArticulo">Enlazar artículo</a></li>
                            </ul>
                        </li>

                        @if (Context.Request.Cookies["nombreRolFK"] == "Coordinador")
                        {
                            <li class="dropdown" role="presentation">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Coordinador<span class="caret"></span></a>
                                <ul class="dropdown-menu navbar-dropdown">
                                    <li><a style="color:darkslategrey;" asp-page="/VerMiembros">Lista de miembros</a></li>
                                    <li><a style="color:darkslategrey;" asp-page="/VerReporteFiltrable">Reportes de la comunidad</a></li>
                                    <li><a style="color:darkslategrey;" asp-page="/ArticulosPorRevisar">Artículos por revisar</a></li>
                                    <li><a style="color:darkslategrey;" asp-page="/ArticulosRevisados">Artículos revisados</a></li>
                                    <li><a style="color:darkslategrey;" asp-page="/PromoverMiembro">Promover miembros</a></li>
                                    <li><a style="color:darkslategrey;" asp-page="/DegradarMiembro">Degradar miembros</a></li>
                                    <li><a style="color:darkslategrey;" asp-page="/EditarPregFrec">Editar preguntas frecuentes</a></li>
                                </ul>
                            </li>
                        }

                        @if (Context.Request.Cookies["nombreRolFK"] == "Núcleo")
                        {
                            <li class="dropdown" role="presentation">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Núcleo<span class="caret"></span></a>
                                <ul class="dropdown-menu navbar-dropdown">
                                    <li><a style="color:darkslategrey;" asp-page="/MisArticulosPorRevisar">Mis artículos por revisar</a></li>
                                    <li><a style="color:darkslategrey;" asp-page="/PromoverMiembro">Promover miembros</a></li>
                                    <li><a style="color:darkslategrey;" asp-page="/EditarPregFrec">Editar preguntas frecuentes</a></li>
                                </ul>
                            </li>
                        }

                        <li class="dropdown" role="presentation">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mi cuenta<span class="caret"></span></a>
                            <ul class="dropdown-menu navbar-dropdown">
                                <li><a style="color:darkslategrey;" asp-page="/MiPerfil">Mi perfil</a></li>
                                <li><a style="color:darkslategrey;" asp-page="/MisArticulos">Mis artículos</a></li>
                                <li><a style="color:darkslategrey;" asp-page="/EnviarCorreo">Enviar correo</a></li>
                                <li><a style="color:darkslategrey;" href="/Login/cerrarSesion">Cerrar sesión</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" role="presentation">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <i class="glyphicon glyphicon-bell"></i>
                                @{

                                    byte[] value = new byte[32];
                                    if (Context.Session.TryGetValue("cantidadNotificacionesNuevas", out value))
                                    {
                                        int? cantidadNotificacionesNuevas = Context.Session.GetInt32("cantidadNotificacionesNuevas");
                                        if (cantidadNotificacionesNuevas > 0)
                                        {
                                            <span class="badge">@cantidadNotificacionesNuevas</span>
                                        }
                                    }
                                }
                            </a>
                            <ul class="dropdown-menu">
                                @{
                                    List<Notificacion> listaNotificacion = Context.Session.GetComplexData<List<Notificacion>>("listaNotificaciones");
                                    if (listaNotificacion != null && listaNotificacion.Count > 0)
                                    {
                                        <form method="post" asp-page="VerNotificaciones">
                                            <div class="container" style="width:400px">
                                                @for (int notificacionActual = 0; notificacionActual < listaNotificacion.Count && notificacionActual < 5; notificacionActual++)
                                                {
                                                    <div class="row">
                                                        @if (listaNotificacion[notificacionActual].estado.Equals(Notificacion.Nueva))
                                                        {
                                                        <div class="col-sm-11">
                                                            <div class="row">
                                                                <div style="border:1px solid black;border-left-width:10px;border-color:slategrey; background-color:#e1e5ee;border-radius:3px;border-left-color:brown;margin-bottom:5px;margin-top:5px">
                                                                    <button id="notificacionAID" name="notificacionAID" type="submit" style="background-color:#e1e5ee" class="notificacion" value="@listaNotificacion[notificacionActual].notificacionAID">
                                                                        <p style="font-weight:bolder;color:#444554;">
                                                                            @listaNotificacion[notificacionActual].mensaje
                                                                        </p>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        }
                                                        else
                                                        {
                                                        <div class="col-sm-11">
                                                            <div class="row">
                                                                <div style=" background-color:#e1e5ee;border-radius:3px;margin-bottom:5px;margin-top:5px; margin-left:5px;">
                                                                    <button id="notificacionAID" name="notificacionAID" type="submit" style="background-color:#e1e5ee" class="notificacion" value="@listaNotificacion[notificacionActual].notificacionAID">
                                                                        <p style="font-weight:bolder;color:#444554;">
                                                                            @listaNotificacion[notificacionActual].mensaje
                                                                        </p>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        }

                                                    </div>
                                                }
                                                <a style="color:steelblue;" href="/VerNotificaciones"> Ver todas mis notificaciones</a>
                                            </div>
                                        </form>
                                    }
                                    else
                                    {
                                        <li style="width:320px; text-align:center"><p>No hay notificaciones disponibles</p></li>
                                    }
                                }
                            </ul>
                        </li>

                    }
                    else
                    {
                        <li><a asp-page="/Login">Iniciar sesión</a></li>
                    }

                </ul>
	</div><!-- /.navbar-collapse -->
</div><!-- /.container -->
	</nav><!-- /.navbar -->

	<partial name="_CookieConsentPartial" />

	<div style="min-height:100vh;position:relative;padding-bottom:100px" class="container body-content">
		@RenderBody()

        <footer style="position:absolute;bottom:0" class ="footer">

            <hr style="border:none; height: 1px; background-color: lightslategray;" />
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <p>&copy; 2020 - La Cafeteria</p>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <a asp-page="/CategoriasPregFrec" style="font-size:125%; text-decoration: underline;" class="text-center text-primary">Preguntas Frecuentes</a>
                    </div>
                </div>
            </div>
                
                
        </footer>
	</div>

	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				crossorigin="anonymous"
				integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
		</script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
		</script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>
	<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
	<script>
		$(".alert-success").fadeOut(5500);
	</script>
	@RenderSection("Scripts", required: false)
</body>
</html>
