@page
@model LaCafeteria.Pages.ArticulosPorRevisarModel
@{
    ViewData["Title"] = "ArticulosPorRevisar";
}

<h2 class="text-center">Artículos que requieren revisión</h2>

<div class="container">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Autores</th>
                <th>Tópicos</th>
                <th>Tipo</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @for ( int i = 0; i < Model.artList.Count; ++i )
            {
                <tr>
                    <td>@Model.artList[i].titulo</td>
                    <td>@Model.dictAutores[Model.artList[i]]</td>
                    <td>
                    @{List<string> lista = Model.informacionArticuloController.GetCategoriaTopicosArticuloString(Model.artList[i].articuloAID);
                                for(int j = 0 ; j < lista.Count ; j++)
                                {
                                    if (j != lista.Count - 1)
                                    {
                                        <text>
                                        @lista[j], 
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                        @lista[j]
                                        </text>
                                    }
                                }
                            }
                    </td>
                    <td>@Model.artList[i].tipo</td>
                    <td>@Model.artList[i].estado</td>
                </tr>
            }
        </tbody>
    </table>
</div>