@page
@using LaCafeteria.Utilidades
@model LaCafeteria.Pages.EditFaqsModel





@{
    ViewData["Title"] = "CategoriasFAQs";

}

<h3 class="text-center">Editar preguntas frecuentes</h3>

<form method="post">
    <div class="form-group">
        <label for="txtPregunta">Pregunta</label>
        <input id="txtPregunta" type="text" class="form-control" asp-for="pregunta" />
    </div>
    <div class="form-group">
        <label for="txtRespuesta">Respuesta</label>
        <input id="txtRespuesta" type="text" class="form-control" asp-for="respuesta" />
    </div>
    <div class="form-group">
        <label for="txtCategoria">Categoría</label>
        <input id="txtCategoria" type="text" class="form-control" asp-for="categoria">
    </div>
    <input type="submit" value="Agregar" asp-page-handler="add" />
    <input type="submit" value="Borrar" asp-page-handler="delete" />
    @if (Notificaciones.Existe(Model, "exitoEliminar"))
    {
        @Html.Raw(Notificaciones.Get(Model, "exitoEliminar"));
    }
    @if (Notificaciones.Existe(Model, "camposIncompletos"))
    {
        @Html.Raw(Notificaciones.Get(Model, "camposIncompletos"));
    }
    @if (Notificaciones.Existe(Model, "noEncontrados"))
    {
        @Html.Raw(Notificaciones.Get(Model, "noEncontrados"));
    }
    @if (Notificaciones.Existe(Model, "exitoAgregar"))
    {
        @Html.Raw(Notificaciones.Get(Model, "exitoAgregar"));
    }
    @if (Notificaciones.Existe(Model, "camposRepetidos"))
    {
        @Html.Raw(Notificaciones.Get(Model, "camposRepetidos"));
    }
   
</form>


