@page
@model LaCafeteria.Pages.MiPerfilModel
@using LaCafeteria.Utilidades;
@{
    ViewData["Title"] = "Mi Perfil";
}

<h2>Mi perfil</h2>
@if (AvisosInmediatos.Existe(Model, "articuloGuardado"))
{
    @Html.Raw(AvisosInmediatos.Get(Model, "articuloGuardado"));
}
@if (AvisosInmediatos.Existe(Model, "articuloEditado"))
{
    @Html.Raw(AvisosInmediatos.Get(Model, "articuloEditado"));
}
@if (AvisosInmediatos.Existe(Model, "articuloEnviadoRev"))
{
    @Html.Raw(AvisosInmediatos.Get(Model, "articuloEnviadoRev"));
}
@if (AvisosInmediatos.Existe(Model, "Actualizado"))
{
    @Html.Raw(AvisosInmediatos.Get(Model, "Actualizado"))
}
@if (AvisosInmediatos.Existe(Model, "exitoSolicitud"))
{
    @Html.Raw(AvisosInmediatos.Get(Model, "exitoSolicitud"));
}
@if (AvisosInmediatos.Existe(Model, "fracasoSolicitud"))
{
    @Html.Raw(AvisosInmediatos.Get(Model, "fracasoSolicitud"));
}

@if (AvisosInmediatos.Existe(Model, "rangoInvalido"))
{
    @Html.Raw(AvisosInmediatos.Get(Model, "rangoInvalido"));
}

@if (AvisosInmediatos.Existe(Model, "perfilEditado"))
{
    @Html.Raw(AvisosInmediatos.Get(Model, "perfilEditado"));
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<div class="container">
    <br />
    <br />
    <div class="row">


        <div class="col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model.miembro.usernamePK</h3>
                </div>
                <div class="panel-body text-center">
                    <img class="img-rounded" style="width: 150px; height:150px" src="~/@Model.miembro.rutaImagenPerfil" />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Rol</h3>
                </div>
                <div class="panel-body text-center">
                    @Model.miembro.nombreRolFK
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Meritos</h3>
                </div>
                <div class="panel-body text-center">
                    @Model.miembro.meritos
                </div>
            </div>                       

        </div>
        <div class="col-sm-4">
            <form method="post">

                @if (Model.nombreRolFK == "Periférico" || Model.nombreRolFK == "Activo")
                {

                    <p style="text-align:center">
                        <button class="btn" asp-page-handler="solicitar" style="margin-top:10px; padding-top: 10px;">
                            Solicitar Ascenso de Rango
                        </button>

                    </p>
                }

            </form>
            <p style="text-align:center">
                <a href='/CrearPerfil/1/@Model.miembro.usernamePK' class="btn text-center">Editar perfil</a>
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Nombre de usuario</h3>
        </div>
        <div class="panel-body">
            @Model.miembro.usernamePK
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Nombre</h3>
        </div>
        <div class="panel-body">
            @Model.miembro.GetNombreCompleto()
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Email </h3>
        </div>
        <div class="panel-body">
            @Model.miembro.email
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Fecha de nacimiento</h3>
        </div>
        <div class="panel-body">
            @Model.miembro.fechaNacimiento
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">País</h3>
        </div>
        <div class="panel-body">
            @Model.miembro.paisFK
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Estado</h3>
        </div>
        <div class="panel-body">
            @Model.miembro.estado
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Ciudad</h3>
        </div>
        <div class="panel-body">
            @Model.miembro.ciudad
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Habilidades</h3>
        </div>
        <div class="panel-body">
            @for (int i = 0; i < Model.miembro.habilidades.Count; i++)
            {
                if (i != Model.miembro.habilidades.Count - 1)
                {
                    <text>
                        @Html.Raw(Model.miembro.habilidades[i]),
                    </text>
                }
                else
                {
                    <text>
                        @Html.Raw(Model.miembro.habilidades[i])
                    </text>
                }
            }
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Pasatiempos</h3>
        </div>
        <div class="panel-body">
            @for (int i = 0; i < Model.miembro.pasatiempos.Count; i++)
            {
                if (i != Model.miembro.pasatiempos.Count - 1)
                {
                    <text>
                        @Html.Raw(Model.miembro.pasatiempos[i]),
                    </text>
                }
                else
                {
                    <text>
                        @Html.Raw(Model.miembro.pasatiempos[i])
                    </text>
                }
            }
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Idiomas</h3>
        </div>
        <div class="panel-body">
            @for (int i = 0; i < Model.miembro.idiomas.Count; i++)
            {
                if (i != Model.miembro.idiomas.Count - 1)
                {
                    <text>
                        @Html.Raw(Model.miembro.idiomas[i]),
                    </text>
                }
                else
                {
                    <text>
                        @Html.Raw(Model.miembro.idiomas[i])
                    </text>
                }
            }
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Informacion laboral</h3>
        </div>
        <div class="panel-body">
            @Model.miembro.informacionLaboral
        </div>
    </div>
</div>
