@page "{usernamePK}/{nombreRolFK}/{aceptar}"
@using LaCafeteria.Utilidades
@model LaCafeteria.Pages.PromoverMiembroModel
@{
    ViewData["Title"] = "Promover Miembros";
}

<h2>Lista de miembros</h2>

<input class="form-control" id="inputBusqueda" type="text" placeholder="Buscar miembro..">
@if ( AvisosInmediatos.Existe(Model, "rangoInvalido") )
{
    @Html.Raw(AvisosInmediatos.Get(Model, "rangoInvalido"));
}
@if ( AvisosInmediatos.Existe(Model, "rangoPeriferico") )
{
    @Html.Raw(AvisosInmediatos.Get(Model, "rangoPeriferico"));
}
@if ( AvisosInmediatos.Existe(Model, "exitoVotar") )
{
    @Html.Raw(AvisosInmediatos.Get(Model, "exitoVotar"));
}

<table class="table-hover table-striped table ">
    <thead>
        <tr>
            <th class="text-center">Imagen de perfil</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Nombre de usuario</th>
            <th class="text-center">Rol</th>
            <th class="text-center">Aceptar Solictud</th>
            <th class="text-center">Rechazar Solicitud</th>
        </tr>
    </thead>

    <tbody id="tablaMiembros" class="text-center">

        @foreach ( var miembro in Model.miembros )
        {
            <tr>
                <td><img class="img-rounded" style="width: 50px; height:50px" src="~/@miembro.rutaImagenPerfil" /></td>
                <td>@miembro.GetNombreCompleto()</td>
                <td>@miembro.usernamePK </td>
                <td>@miembro.nombreRolFK </td>
                <td class="text-center"><a href="/PromoverMiembro/@miembro.usernamePK/@miembro.nombreRolFK/1" class="btn btn-lg">Aceptar</a></td>
                <td class="text-center"><a href="/PromoverMiembro/@miembro.usernamePK/@miembro.nombreRolFK/0" class="btn btn-lg">Rechazar</a></td>













            </tr>
        }

    </tbody>
</table>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script>
    $(document).ready(function () {
        $("#inputBusqueda").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tablaMiembros tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
